main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}

:root {
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  font-family: 'Avantgarde, TeX Gyre Adventor, URW Gothic L', sans-serif
}

h1,
h2 {
  font-family: 'Avantgarde, TeX Gyre Adventor, URW Gothic L', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
  font-weight: bold;
}

h2 {
  font-size: 1.75rem;
  font-weight: bold;
}

p {
  color: darkgray;
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

/* Header Start */
header {
  background: white;
  margin: 40px;
}

header a {
  color: darkgray;
}

.title {
  margin-left: 40px;
}

.paintbrush {
  width: 40%;
}

nav a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.mx-2 :hover {
  background: lightgray;
  color: darkgray
}
/* Header End */


/* Contact Start */
button {
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 3px solid darkgray;
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid darkgray;
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid darkgray;
	padding: 5px;
}
/* Contact End */


/* About Start */
.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
  display: flex;
}

.bio {
  margin-left: var(--spacing-five);
  margin-top: var(--spacing-five);
}

.who-am-i {
  margin-left: var(--spacing-five);
  margin-top: var(--spacing-five);
}
/* About End */


/* Portfolio Start */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.donation-tracker, .ghostwriter, .budget-tracker, .horiseon, .run-buddy, .placeholder {
  width: 30%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 50px;
  text-align: center;
}

.donation-tracker-image, .ghostwriter-image, .budget-tracker-image, .horiseon-image, .run-buddy-image {
  width: 400px;
}
/* Portfolio End */


/* Resume Start */
.download-resume {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 300px;
}
/* Resume End */


/* Footer Start */
footer {
  display: flex;
  flex-wrap: row;
  justify-content: center;
}

.github, .linkedIn, .instagram {
  padding-left: 10px;
  padding-right: 30px;
}

.github-icon, .linkedin-icon, .instagram-icon {
  width: 30px;
  height: 30px;
}
/* Footer End */